/* ---- Global ---- */
img {
    width: 600px;
}

nav {
    position: relative;
    z-index: 1;
}

.navbar-brand, .nav-link {
    color: #FFF !important;
}

.abstract {
    position: absolute;
    top: 1250px;
    left: 0;
    z-index: -3;
}

.btn-start {
    color: #FFF;
    text-decoration: none;
    background-color: #5C53D5;
    padding: 10px 20px;
    border-radius: 40px;
    transition: 0.25s;
}

.btn-start:hover {
    color: #FFF;
    text-decoration: none;
    background-color: rgb(78, 68, 211);
}


/* ---- Banner ---- */
.jumbotron {
    height: 1080px;
    background: url(../img/background/banner.svg);
    background-size: cover;
    margin-top: -75px;
}

#banner {
    position: relative;
}

#banner h1{
    color: rgba(87, 50, 242, 0.73);
    font-weight: 700;
}

#banner h4 {
    color: #F57992;
}

.header-text {
    padding-top: 160px;
}


/* ---- Services ---- */
#services {
    margin-top: -200px;
    z-index: -2;
    position: relative;
}


#services__content {
    background: url(../img/background/traditional-business.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#services__content::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    z-index: -1;
}


/* ---- Card ---- */
.card-title {
    color: rgba(35, 3, 255, 0.6);
}

.card-img-top {
    width: 200px;
    height: 250px;
}


/* ---- About ---- */
#about {
    position: relative;
    z-index: -2;
}

#about img {
    width: 500px;
    height: 300px;
}

#about h1{
    color: rgba(35, 3, 255, 0.6);
}

/* ---- Footer ---- */
footer {
    background-color: #8298F9;
}


/* ---- Responsive ---- */
@media only screen and (max-width: 991px) {
    img {
        margin-top: 50px;
        width: 400px;
    }

    .abstract {
        display: none;
    }

    .jumbotron {
        margin-top: 10px;
    }

    .navbar-brand, .nav-link {
        color: #000 !important;
    }

    #banner img {
        display: none;
    }

    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
    }

    #about {
        text-align: center;
    }
}