nav {
    position: relative;
    z-index: 1;
}

.navbar-brand,
.nav-link {
    color: #FFF !important;
}

.nav-color {
    color: #000 !important;
}

.nav-item {
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

@media only screen and (max-width: 991px) {

    .navbar-brand,
    .nav-link {
        color: #000 !important;
    }
}
